# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
build.zip
src/generated/buildInfo.js
public/version.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
backend_dev/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# project cleanup
*.bak
*.zip
*.sql.zip
*.xcf
uploads/
backend/Database/restore_*.zip
backend/event2026/stripe.local.php
android/app/google-services.json
backend/firebase-key.json
